<%- include("partials/header") -%>


<div class="mb-4 rounded-3" style="text-align: left; background-color: transparent; padding: 0;">
  <div class="container-fluid" style="background-color: transparent;  padding:0;">
    <h1 class="display-5 fw-bold" style="color: rgb(6, 155, 155);">Get in touch!</h1>
    
    <!-- <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p> -->
    <a href="mailto:reshavkumar34@gmail.com" class="cont btn btn-light" style="margin-right: 1rem; display: inline-block; max-width:fit-content;">Email</a>
    <a href="http://www.github.com/reshavcodes" class="cont btn btn-outline-light" style=" display: inline-block; max-width: fit-content;">Github</a>
  </div>
</div>



<!-- <div style="position: relative;"> -->

  <img class="card-img-top" src="/images/contact.png" alt="" style="max-width: 450px;">

<!-- </div> -->


<%- include("partials/footer") -%>