<%- include("partials/header") -%>




<div style="text-align: left;">
<h2 style="margin-top: 2rem; color: rgb(162, 107, 226);"><%= data.title  %></h2>
<p style="font-family: 'Inter', sans-serif;"><%= data.body  %></p>
</div>


<a href="/"> <button class="btn btn-outline-warning" style="margin-bottom: 2rem; margin-top: 2rem;">Back to home</button></a>
<%- include("partials/footer") -%>
